<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
  <h1 class="text-2x1 font-semibold text-gray-700 mg-4">Nova Categoria</h1>
  <hr/>
  <form id="categoriaForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2">Nome</label>
      <input type="text" required formControlName="nome"
             class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-2 focus:outline-none focus:ring-blue-400"
             id="nome" name="nome" placeholder="Ex: Restaurantes, Praias, Shoppings...">
      <span class="text-red-500 text-sm">Campo obrigatório</span>
    </div>
    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2">Descrição</label>
      <textarea type="text" required rows="4" formControlName="descricao"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-2 focus:outline-none focus:ring-blue-400"
                id="descricao" name="descricao" placeholder="Ex: Restaurantes, Praias, Shoppings...">
      </textarea>
      <span class="text-red-500 text-sm">Campo obrigatório</span>
    </div>

    <button type="submit" class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700">Salvar</button>
  </form>
</div>